.containerCreate {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.elements {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: 700px;
    border-radius: 6px;
}

.heading {
    width: 30%;
}

.elements button {
    padding: 10px 25px;
    font-size: 20px;
    cursor: pointer;
    background-color: blueviolet;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn1 {
    display: block;
    margin: 20px auto;
    padding: 10px 25px;
    font-size: 20px;
    cursor: pointer;
    background-color: blueviolet;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btnGroup {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.empty {
    font-size: large;
    font-weight: bold;
}

@media (max-width: 992px) {
    .elements {
        width: 80%;
    }

    .btnGroup {
        padding: 10px 20px;
    }

    .btnGroup button {
        font-size: 20px;
    }

    .heading {
        width: 30%;
    }

    .btn1 {
        font-size: 20px;
    }

}

@media (max-width: 600px) {
    .elements {
        width: 80%;
    }

    .btnGroup {
        padding: 10px 10px;
    }

    .heading {
        width: 35%;
    }

    .btnGroup button {
        font-size: 14px;
    }

}